<div id="sorteoContainer" class="fullWidth">

  @if (status.finish) {
    <div class="finDeSorteo">
      <h1>¡Sorteo finalizado!</h1>
      <h2>Ganadores, te contactaremos mañana</h2>
      <h2>Felicitaciones mañana te estamos llamando</h2>
    </div>
  }

  @if (!status.finish) {
    
    <div id="buttons">
      <!-- <div id="leftContainer">
        <button mat-fab [ngClass]="{'shuffleBtn': !disableShuffleBtn()}" [disabled]="disableShuffleBtn()" (click)="generateWinner()">
          <mat-icon>shuffle</mat-icon>
        </button>
        <button mat-fab [ngClass]="{'okBtn': !disableOkBtn()}" (click)="saveResult()" [disabled]="disableOkBtn()">
          <mat-icon>done</mat-icon>
        </button>
      </div> -->
    </div>
    <div id="randomGeneratorStrings">
      <span [ngClass]="{'darkBlue': !sorteando, 'clearBlue': sorteando}" class="animate">
        {{ countDown }}
      </span>
    </div>
  }

  @if (TESTEANDO_RULETA) {
    <div>
      <span class="inputTitle">Configuración de Ruleta</span>
      <form [formGroup]="TESTEO_CONFIG" class="inputs" style="width: 450px; display: flex; justify-content: space-between; flex-wrap: wrap;">
        <mat-form-field class="inputNumero" appearance="fill">
          <mat-label>Micro segundos inicial</mat-label>
          <input formControlName="microSeg" matInput type="number">
        </mat-form-field>
        <mat-form-field class="inputNumero" appearance="fill">
          <mat-label>Sumar micro segundos</mat-label>
          <input formControlName="microSeg_agregar" matInput type="number">
        </mat-form-field>
        <mat-form-field class="inputNumero" appearance="fill">
          <mat-label>Sumar micro seg suspenso</mat-label>
          <input formControlName="microSeg_suspenso" matInput type="number">
        </mat-form-field>
        <mat-form-field class="inputNumero" appearance="fill">
          <mat-label>Repeticiones</mat-label>
          <input formControlName="repetir_N_veces" matInput type="number">
        </mat-form-field>
        <mat-form-field class="inputNumero" appearance="fill">
          <mat-label>Restar repeticiones</mat-label>
          <input formControlName="restarRepeticiones" matInput type="text">
        </mat-form-field>
        <mat-form-field class="inputNumero" appearance="fill">
          <mat-label>Restar repeticiones suspenso</mat-label>
          <input formControlName="restarRepeticiones_suspenso" matInput type="text">
        </mat-form-field>
      </form>
    </div>
  }

  @if (status.finish) {
    <div id="tablaResultadosContainer" class="twoColumns">
      <app-resultados empresa="CONSULTATIO" [results]="results.slice(0, 5)" columnaDerecha="Participante" class="fullWidth"></app-resultados>
      <div class="sorteoSeparator"></div>
      <app-resultados empresa="NORDELTA" [results]="results.slice(5)" columnaDerecha="Participante" class="fullWidth"></app-resultados>
    </div>
  }
</div>
