<div id="sorteoContainer" class="fullWidth fullHeight">

  @if (status.finish) {
    <div class="finDeSorteo">
      <br>
      <mat-icon class="svgIcon" svgIcon="novitLogo"></mat-icon>
    </div>
  }

  @if (!status.finish) {
    
    <div id="buttons">
      @if (!disableShuffleBtn()) {
        <div id="leftContainer" (click)="generateWinner()" class="clickableContainer">
          <button mat-fab [ngClass]="{'shuffleBtn': !disableShuffleBtn()}">
            <mat-icon>timer</mat-icon>
          </button>
          <h1>Iniciar</h1>
          <!-- <button mat-fab [ngClass]="{'okBtn': !disableOkBtn()}" (click)="saveResult()" [disabled]="disableOkBtn()">
            <mat-icon>done</mat-icon>
          </button> -->
        </div>
      }
    </div>
    <br>
    <br>
    <br>
    <div id="randomGeneratorStrings">
      <span [ngClass]="{'darkBlue': !sorteando, 'clearBlue': sorteando}" class="animate numberFormat">
        {{ countDown }}
      </span>
    </div>
  }


  @if (status.finish) {
    <div id="tablaResultadosContainer" class="twoColumns">
      <app-resultados 
        classEmpresa="svgIcon"
        sgvIconEmpresa="wenGrisOscuro"
        [results]="wenResults" 
        columnaDerecha="Ganador" 
        class="fullWidth">
      </app-resultados>
      <div class="sorteoSeparator"></div>
    </div>
  }
  
</div>
