.numerosInputContainer {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.numerosInputContainer .inputs {
    display: flex;
    flex-direction: column;
}

.inputTitle{
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 20px;
    color: #173254;
}

.okBtn{
    background-color: #00B050;
}

.startSorteoBtn {
    margin-left: 3em;
}