@import "app-colors.scss";

#numerosInputContainer {
    display: flex;
    align-items: center;
    margin-top: 2em;

    .inputs {
        display: flex;
        flex-direction: column;

        .inputTitle{
            text-align: center;
            margin-bottom: 0.5em;
            font-size: 20px;
            color: $color-primary-blue;
        }
    }    

    .okBtn{
        background-color: $color-exito;
    }
    .startSorteoBtn {
        margin-left: 3em;
    }
}
