<div id=sorteoContainer>

    <div *ngIf="status.finish" class="finDeSorteo">
        <h1>¡Sorteo finalizado!</h1>
    </div>

    <div *ngIf="!status.finish" id="buttons">
        <button mat-fab class="shuffleBtn" [disabled]="status.finish || sorteandoNoBtns" (click)="generateWinner()">
            <mat-icon>shuffle</mat-icon>
        </button>

        <div id="randomGenerator">
            <div *ngIf="!sorteando" style="display: flex;">
                <div *ngFor="let letter of cantidadCifras" class="cifra"> – </div>
            </div>
            <div *ngIf="sorteando" style="display: flex;">
                <div *ngFor="let item of showWinnerNumber" class="cifra">
                    <span *ngIf="!item.show" style="color: #3080e3">{{item.placeholder}}</span>
                    <span *ngIf="item.show" style="color: #173254;">{{item.letter}}</span>
                </div>
            </div>
        </div>

        <button mat-fab class="okBtn" (click)="saveResult()" [disabled]="status.finish || sorteandoNoBtns || winner === null">
            <mat-icon>done</mat-icon>
        </button>
    </div>

    <app-resultados [results]="results" class="fullWidth"></app-resultados>
</div>
