<div id=sorteoContainer>

  @if (status.finish) {
    <div class="finDeSorteo">
      <h1>¡Sorteo finalizado!</h1>
    </div>
  }

  @if (!status.finish) {
    <div id="buttons">
      <button mat-fab [ngClass]="{'shuffleBtn': !disableShuffleBtn()}" [disabled]="disableShuffleBtn()" (click)="generateWinner()">
        <mat-icon>shuffle</mat-icon>
      </button>
      <div id="randomGenerator">
        @if (!sorteando) {
          <div style="display: flex;">
            @for (letter of cantidadCifras; track letter) {
              <div class="cifra"> – </div>
            }
          </div>
        }
        @if (sorteando) {
          <div style="display: flex;">
            @for (item of showWinnerNumber; track item) {
              <div class="cifra">
                @if (!item.show) {
                  <span class="clearBlue">{{item.placeholder}}</span>
                }
                @if (item.show) {
                  <span class="darkBlue">{{item.letter}}</span>
                }
              </div>
            }
          </div>
        }
      </div>
      <button mat-fab [ngClass]="{'okBtn': !disableOkBtn()}" (click)="saveResult()" [disabled]="disableOkBtn()">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  }

  <app-resultados [results]="results" columnaDerecha="Número" class="fullWidth"></app-resultados>
</div>
