@import "app-colors.scss";

::ng-deep .cdk-overlay-pane:has(.mat-snack-bar-container):has(app-aviso-snack) {

    #container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em 1em;
        cursor: pointer;

        span {
            color: white;
        }
    
        .title {
            font-size: 19px;
            font-weight: bold;
        }

        .text {
            font-size: 17px;
        }
    }
}

::ng-deep .cdk-overlay-pane:has(.mat-snack-bar-container):has(app-aviso-snack):has(#container.error){
    .mat-snack-bar-container {
        background-color: $color-error;
    }
}