@import "app-colors.scss";

#resultados{
    width: -webkit-fill-available;
    margin-left: 150px;
    margin-right: 150px;
    
    .resultadoContainer{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #f3f3f3;
        color: $color-primary-blue;
    }

    .resultadoContainer.cabeceraTabla {
        font-size: 38px;
    
        span {
            font-family: "LatinxText-Bold";
        }
    }
    .resultadoContainer.itemsTabla {
        font-size: 34px;
    }
}

#resultados.noMargin {
    margin: 0px;
}