<div id="resultados" [ngClass]="{'noMargin version2023': columnaDerecha === 'Participante'}" #resultadosContainer>
  <div class="empresaTittle">
    <br>
    <mat-icon class="{{classEmpresa}}" svgIcon="{{sgvIconEmpresa}}">
    </mat-icon>
  </div>
  <div class="resultadoContainer cabeceraTabla">
    <span>Premio</span>
    <span>{{columnaDerecha}}</span>
  </div>
  @for (result of visibleResults; track result) {
    <div [@zoomInOut] class="resultadoContainer itemsTabla">
      <span>{{result.premio}}</span>
      <div class="winner">{{result.texto}}</div>
    </div>
  }
</div>
