@import "app-colors.scss";

#resultados{
    width: -webkit-fill-available;
    position: relative;
    overflow-anchor: auto; 
    margin-left: 40px;
    margin-right: 40px;
    
    .empresaTittle h1{
        text-align: center;
        font-size: 48px;
        color: $color-primary-blue;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .resultadoContainer{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #f3f3f3;
        color: $color-primary-black;
    }

    .resultadoContainer.cabeceraTabla {
        font-size: 38px;
    
        span {
            font-family: "LatinxText-Bold";
        }
    }
    .resultadoContainer.itemsTabla {
        font-size: 34px;
    }
    .resultadoContainer.itemsTabla span {
        text-align: left;
      }
      
    .resultadoContainer.itemsTabla div {
    text-align: right;
    }
}
.empresaTittle {
    text-align: center;
    margin-bottom: 20px;
    .svgIcon {
        width: auto;
        height: 48px;
        padding-bottom: 22px;
    }
    
    .scndIcon {
        width: auto;
        height: 70px;
    }
}

#resultados.noMargin {
    margin: 0px;
}

#resultados.version2023 {
    .resultadoContainer.cabeceraTabla {
        border-top-width: 0px;
    }
}