<div id="app">
  <app-head-bar #headBar [displayVersion]="displayVersion" [status]="status" (fireResetearSorteo)="resetearSorteo()"></app-head-bar>

  @if (showVersionControl) {
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" id="toggleVersion" [value]="displayVersion" (change)="changeVersionDisplaying(toggleGroup.value)">
      <mat-button-toggle [value]="version._2023">2023</mat-button-toggle>
    </mat-button-toggle-group>
  }

  <div id="appBody">
      <app-version2023 class="fullWidth fullHeight centerContainer" #version2023 [status]="status"></app-version2023>
  </div>
</div>
