<div id="headBar">
    <h1 class="sorteo" (click)="resetearSorteo()" [ngClass]="{'clickable': status.finish }">Sorteo 2022</h1>
    <div style="display: flex; align-items: center;">
        <div id="iconGroup">
            <mat-icon class="svgIcon" svgIcon="consultatioBlanco"></mat-icon>
                <span class="separator"></span>
            <mat-icon class="svgIcon scndIcon" svgIcon="nordeltaBlanco"></mat-icon>
        </div>
        <span class="separator"></span>
        <img src="assets/asset-img.png" style="height: 50px;">
    </div>
</div>
