@import "app-colors.scss";

@font-face {
    font-family: 'LatinxText';
    src: url('assets/fonts/LatinxText-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'LatinxText-Bold';
    src: url('assets/fonts/LatinxText-Bold.otf') format('opentype');
}

* {
    font-family: 'LatinxText';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primaryBtn{
    color: white;
    background-color: $color-primary-blue;
}

.okBtn {
    color: white;
    background-color: $color-exito;
}

#sorteoContainer {
    height: -webkit-fill-available;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: inherit;

    .finDeSorteo h1 {
        font-size: 58px;
        color: $color-primary-blue;
        margin-bottom: 10px;
    }

    #buttons {
        display: flex;
        margin: 1.5em;
        align-items: center;

        .okBtn{
            background-color: $color-exito;
        }
        .shuffleBtn {
            background-color: $color-primary-blue;
        }

        #randomGenerator {
            height: 100px;
            overflow: hidden;

            .cifra{
                font-size: 80px;
                height: 110px;
                width: 110px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }

        #randomGenerator, #randomGeneratorStrings {
            margin-left: 3em;
            margin-right: 3em;

            span.clearBlue {
                color: $color-secondary-blue;
            }

            span.darkBlue {
                color: $color-primary-blue;
            }
        }       
        
        #leftContainer {
            display: flex; 
            // flex-direction: column; 
            justify-content: center; 
            gap: 2em;
        }
        
        #randomGeneratorStrings {
            width: -webkit-fill-available;
            text-align: center;
            
            span {
                font-size: 50px;
                font-weight: bold;
            }
        }

    }

}