.ruleta-container {
  text-align: center;
}

.ruleta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.ruleta div {
  padding: 10px;
  font-size: 20px;
  transition: transform 0.1s;
}

.ruleta div.selected {
  transform: scale(1.5);
  color: red;
}