<div id="initContainer" [ngClass]="{'hidden': status.start}">
    <div id="initContainer" [ngClass]="{'hidden': status.start}">
        <div id="empresasContainer">
            <div class="sorteoContainer">
                <h1 style="text-align: center;">
                    <img class="svgIcon" src="assets/icons/tecnovoz_logo.png" alt="Logo">
                </h1>
                <app-carga-listado #listadoswen class="fullWidth"></app-carga-listado>
            </div>
        </div>
    </div>
    
    <div id="actionsContainer" [ngClass]="{'hidden': status.start}">
        <button mat-raised-button class="okBtn" [disabled]="disableStart()" (click)="comenzarSorteo()">PREPARAR SORTEO</button>
    </div>
</div>

<app-slots-sorteo2023 #slotsSorteo class="widthSlots" [ngClass]="{'hidden': !status.start}" [status]="status"></app-slots-sorteo2023>